{% extends "/template/template.twig" %}

{% block title %} - Dashboard{% endblock %}


{% block content %}

    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item"><a href="#">LEOZ</a></li>
                    <li class="breadcrumb-item active"><a href="#">Painel de Controle</a></li>
                </ol>
            </nav>
            <h4 class="mg-b-0 tx-spacing--1">Bem-vindo ao sistema da LEOZ</h4>
        </div>
    </div>

    <div class="row row-xs">
        <div class="col-sm-6 col-lg-3">
            <div class="card card-body">
                <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Clientes</h6>
                <div class="d-flex d-lg-block d-xl-flex align-items-end">
                    <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{customer}}</h3>
                    <a class="tx-11 tx-color-03 mg-b-0" href="{{ url_for('customer.list')}}"> <span class="tx-medium tx-success"> abrir todos </span> </a>
                </div>
                <div class="chart-three">
                    <div id="flotChart3" class="flot-chart ht-30"></div>
                </div><!-- chart-three -->
            </div>
        </div><!-- col -->
        <div class="col-sm-6 col-lg-3 mg-t-10 mg-sm-t-0">
            <div class="card card-body">
                <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Propostas</h6>
                <div class="d-flex d-lg-block d-xl-flex align-items-end">
                    <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{proposals}}</h3>
                    <a class="tx-11 tx-color-03 mg-b-0" href="{{ url_for('proposal.list')}}"> <span class="tx-medium tx-success"> abrir todas </span> </a>
                </div>
                <div class="chart-three">
                    <div id="flotChart4" class="flot-chart ht-30"></div>
                </div><!-- chart-three -->
            </div>
        </div><!-- col -->
        <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
            <div class="card card-body">
                <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Apólices</h6>
                <div class="d-flex d-lg-block d-xl-flex align-items-end">
                    <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{policies}}</h3>
                    <a class="tx-11 tx-color-03 mg-b-0" href="{{ url_for('policy.list')}}"> <span class="tx-medium tx-success"> abrir todas </span> </a>
                </div>
                <div class="chart-three">
                    <div id="flotChart5" class="flot-chart ht-30"></div>
                </div><!-- chart-three -->
            </div>
        </div><!-- col -->
        <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
            <div class="card card-body">
                <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Sinistros</h6>
                <div class="d-flex d-lg-block d-xl-flex align-items-end">
                    <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">{{ claims }}</h3>
                    <a class="tx-11 tx-color-03 mg-b-0" href="{{ url_for('claim.list')}}"> <span class="tx-medium tx-success"> abrir todos </span> </a>
                </div>
                <div class="chart-three">
                    <div id="flotChart6" class="flot-chart ht-30"></div>
                </div><!-- chart-three -->
            </div>
        </div><!-- col -->


    </div><!-- row -->

{% endblock %}
