{% extends "/template/template.twig" %}

{% block title %} - Propostas{% endblock %}


{% block content %}

    <form action="{{ url_for("proposal.put", {'hash_proposal' : proposal.hash}) }}" method="post" enctype="multipart/form-data">

        <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item"><a href="#">LEOZ</a></li>
                        <li class="breadcrumb-item"><a href="#">Propostas</a></li>
                        <li class="breadcrumb-item"><a href="#">Formulário</a></li>
                    </ol>
                </nav>
                <h4 class="mg-b-0 tx-spacing--1">Formulário da Proposta</h4>
            </div>
            <div class="">
                <button hidden class="btn btn-lg btn-primary">Salvar Proposta</button>
            </div>

            <div id="edit" class="">
                <button id="removeDisabled" class="btn btn-lg btn-primary">Editar</button>
            </div>
        </div>

        <fieldset class="form-fieldset">
            <legend>Informações Gerais</legend>
            <div class="form-row">
                <div class="form-group col-md-12 form-group-default-select2">
                    <label>Cliente</label>
                    <p><b>{{ proposal.customer.firstName }} {{ proposal.customer.lastName }}</b></p>
                </div>
                <div class="col-lg-12"></div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>Placa do veículo</label>
                    <input readonly type="text" class="form-control" name="plate" value="{{ proposal.plate }}">
                </div>
                <div class="form-group col-md-3">
                    <label>Chassis</label>
                    <input readonly type="text" class="form-control" name="chassis" value="{{ proposal.chassis }}">
                </div>
                <div class="form-group col-md-3">
                    <label>Zero KM?</label>
                    <select disabled class="custom-select" required="" name="vehicle_state">
                        <option {% if proposal.vehicleState == constant('App\\Entity\\Proposal\\Proposal::STATE_USED_VEHICLE') %} selected {% endif %}
                                value=0>Não
                        </option>
                        <option {% if proposal.vehicleState == constant('App\\Entity\\Proposal\\Proposal::STATE_NEW_VEHICLE') %} selected {% endif %}
                                value=1>Sim
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Seguradora</label>
                    <select disabled class="custom-select" required="" name="safe_company">
                        <option value="" disabled="" selected=""> -- Escolha --</option>
                        {% for  safe in safeCompanies%}
                            {% if proposal.safeCompany.id == safe.id %}
                                <option selected value='{{safe.hash}}'>{{ safe.insurer }}</option>
                            {% endif %}
                        {% endfor %}
                        {% for  safe in safeCompanies%}
                            <option value='{{safe.hash}}'>{{safe.insurer}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Observações</label>
                    <textarea readonly type="text" class="form-control" rows="3"
                              name="observation">{{ proposal.observation }}</textarea>
                </div>
                <div class="form-group col-md-2"></div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <label>Vigência</label>
                    <div class="row">
                        <div class="col-md-5">
                            <input readonly type="text" class="form-control" name="proposal_due_start" data-mask="00/00/0000"
                                   value="{{ proposal.dueDateStart|date('d/m/Y') }}">
                        </div>
                        até
                        <div class="col-md-5">
                            <input readonly type="text" class="form-control" name="proposal_due_end" data-mask="00/00/0000"
                                  {% if proposal.dueDateEnd %} value="{{ proposal.dueDateEnd|date('d/m/Y') }}" {% else %} value="00/00/0000" {% endif %}>
                        </div>
                    </div>

                </div>
                <div class="form-group col-md-4">
                    <label>Status</label>
                    <select disabled class="custom-select" required="" name="status">
                        <option {% if proposal.status == constant('App\\Entity\\Proposal\\Proposal::PROPOSAL_STATUS_CREATED') %} selected {% endif %}
                                value='0'>Cálculo Criado
                        </option>
                        <option {% if proposal.status == constant('App\\Entity\\Proposal\\Proposal::PROPOSAL_STATUS_SENT') %} selected {% endif %}
                                value='1'>Pagamento
                        </option>
                        <option {% if proposal.status == constant('App\\Entity\\Proposal\\Proposal::PROPOSAL_STATUS_APPROVED') %} selected {% endif %}
                                value='2'>Proposta Aceita
                        </option>
                        <option {% if proposal.status == constant('App\\Entity\\Proposal\\Proposal::PROPOSAL_STATUS_DISAPPROVED') %} selected {% endif %}
                                value='3'>Proposta Recusada
                        </option>
                        <option {% if proposal.status == constant('App\\Entity\\Proposal\\Proposal::PROPOSAL_STATUS_DELETED') %} selected {% endif %}
                                value='4'>Proposta Deletada
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-2"></div>
            </div>
        </fieldset>
        <br>
        <div class="file-loading">
            <input id="kv-explorer" type="file" multiple>
        </div>

        <br>
        <div class="row">
            <div class="col-lg-12 text-right">
                <button hidden type="submit" class="btn btn-lg btn-primary">Salvar Proposta</button>
            </div>
        </div>

    </form>

{% endblock %}


{% block header %}
    <link href="/template/v1/lib/select2/css/select2.min.css" rel="stylesheet" type="text/css"
          media="screen"/>
{% endblock %}

{% block footer %}
    <script src="/template/v1/lib/select2/js/select2.full.min.js"></script>
    <script src="/leoz/js/editForm.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2-test').select2();
        });

        const footerTemplate = '<div class="file-thumbnail-footer" style ="height:94px">\n' +
            '  <input id="{document_id}" class="kv-input kv-new form-control input-sm form-control-sm text-center {TAG_CSS_NEW}" ' +
            'value="{caption}" name="title[{document_id}]" placeholder="Enter caption...">\n' +
            '   <div class="small" style="margin:15px 0 2px 0">{size}</div> {progress}\n{indicator}\n{actions}\n' +
            '</div>';

        $("#kv-explorer").fileinput({
            initialPreview: {{ preview|raw }},
            initialPreviewConfig: {{ previewConfig|raw }},
            layoutTemplates: {footer: footerTemplate},
            allowedPreviewTypes: ['image', 'pdf', 'video', 'office'],
            'theme': 'fas',
            'uploadUrl': "{{ url_for('upload.proposal', {hash: proposal.hash} ) }}",
            'deleteUrl': "{{ url_for('file.delete', {type: 'proposal'}) }}",
            previewFileIcon: '<i class="fas fa-file"></i>',
            previewFileIconSettings: {
                'docx': '<i class="fas fa-file-word text-primary"></i>'
            },
            initialPreviewThumbTags : {{ initialPreviewThumbTags|raw }},
            language: 'pt-BR',
            overwriteInitial: false,
            initialPreviewAsData: true,
        });

        $('.fieldset_doc').metalClone({
            btnClone 	: '.btn_fieldset_doc',
            btnRemoveClass: 'btn btn-danger btn-sm',
            confirmMessageText: 'Deseja mesmo apagar?',
            onComplete: function (e, o, c) {
                let cc = 0;
                $('.fieldset_doc').each(function (i) { cc = eval(cc + 1); })
                $(c[0]).find(':input').each(function (ee) {
                    if($(this).attr('name')) $(this).attr('name', $(this).attr('name').replace(0, cc));
                })
            }
        });
    </script>
{% endblock %}
